.btn {
  text-decoration: none;
  border-radius: 5px;
  transition: 0.3s ease-in;
  &:hover {
    color: $color-gold;
  }
}

.btn-orange {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 207px;
  background-color: $color-orange;
  color: $color-black;
  font-size: 16px;
  font-weight: 700;
}

.btn-white {
  background-color: $color-white;
  color: $color-black;
  padding: 20px 32px;
  font-size: 18px;
}

.btn-black {
  background-color: $color-black;
  color: $color-white;
  padding: 20px 32px;
  font-size: 18px;
}