.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 350px;
  .nav__link {
    text-decoration: none;
    color: $color-white;
    transition: 0.3s ease-in;
    &:hover {
      color: $color-gold;
    }
  }
}

.footer__nav {
  width: 400px;
  display: flex;
  justify-content: space-between;
}